<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <button class="btn btn-primary">Button</button>
    {{ info }}
    {{ if currentUser  }}
        <h3>111</h3>
        <h4>{{ currentUser.email }}</h4>
    {{ /if }}
    
    <a href="/register"><button>register</button></a>
    <a href="/login"><button>login</button></a>
    <a href="/logout"><button>logout</button></a>
</body>
</html>