<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reset password</h1>
    {{if flash }}
    <div style="text-align: center" class="alert alert-{{ flash.type }} flash">
        <button type="button" class="close" data-dismiss="alert" onclick="$('.flash').hide();">&times;</button>
        {{ flash.text }}
    </div>
    {{ /if }}
    <form action="/reset-password" method="POST">
        <input class="form-control" type="password" name="id" value="{{ user.id }}" style="display: none;">
        <label for="">Password</label>
        <input type="password" name="password">
        <label for="">Confirm Password</label>
        <input type="password" name="confirm-password">
        <button type="submit" class="btn btn-lg btn-secondary btn-block">Submit</button>
    </form>
</body>
</html>