@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

:root {
  --primaryColor: #45ccb8;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

/* For title */
.container h2{
    font-family: 'Gugi', cursive;
    color:white;
    
}

/* title background color */
.container .row{
    background-color:#45ccb8;

}


/* The href text in title */
.container .signup-login{
    padding-top: 23px;
    /* padding-left:200px; */
    text-align: right;
    color:white;
}

.container .signup-login a{
    color:white;
}


#img-list{
    list-style:none;
    width: 25000px;
 }

#img-list li{
    float:left;
} 

/* For Login page */
/* for entry information box */
.form-box{
    width:360px;
    height:480px;
    position:relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width:220px;
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #45ccb8;
    border-radius: 30px;
}


.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    box-shadow:none;
} 



#L-R-btn{
top:0;
left:0;
position: absolute;
width:110px;
height:55px;
background: linear-gradient(to right, #10ffc3, #06c5ff);
border-radius: 30px;
transition: 0.5s ;
}

.social-icons{
    width:110px;
    margin:0px 60px;
    position: relative;
    top:10px;
}

.social-icons i{
    box-shadow:0 0 20px 0 #45ccb8;
    margin: 0px 8px;
    cursor:pointer;
    border-radius: 50%;
    
}

.input-group{
    top:100px;
    position: absolute;
    width:220px;
    transition: 0.5s;
}
.input-field{
    width:100%;
    padding:10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    background: transparent;
    border: none;
    outline: none;
    box-shadow:none;
}

/* for all the submit btn */
.submit-btn{
    width:85%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin:20px auto;
    background: linear-gradient(to right,  #10ffc3, #06c5ff);
    border:0;
    outline:0;
    border-radius: 30px;
}


.check-box{
    margin: 15px 10px 15px 0;
}
/* the checkbox text */
/* span{
    color:rgb(109, 109, 109);
    font-size: 12px;
    bottom:68px;
    padding-top:13px ;
} */

/* for all teh information box style */
#login{
    margin-top: 100px;
}
#login h1{
    
    background: -webkit-linear-gradient( #06c5ff,#10ffc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}
#login a{
    margin-left: 0px;
    color:rgb(109, 109, 109);
    font-size: 12px;
    
}
#login a:link a:visited a:hover a:active{
    text-decoration:none;
    text-decoration:none;
    text-decoration:underline;
    text-decoration:underline;
}
#register{
    margin-top: 100px;
}

#register h1{
    background: -webkit-linear-gradient( #06c5ff,#10ffc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}

#ResetPassword{
    margin-top: 100px;
}

#ResetPassword h3{
    background: -webkit-linear-gradient( #06c5ff,#10ffc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}

#ForGetPassWord{
    margin-top: 100px;
}

#ForGetPassWord h3{
    background: -webkit-linear-gradient( #06c5ff,#10ffc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}
/* for all teh information box style end*/

/* Featured Products page*/
.products-box h1{
    margin-top: 50px;
    background: -webkit-linear-gradient( #06c5ff,#10ffc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 30px;
      
}


.products-box .row{
    background-color: white;
}

/* The line in the product title bottom */
/* .productsTitle::after{
    content:'';
    background: -webkit-linear-gradient( #06c5ff,#10ffc3);
    -webkit-text-fill-color: transparent;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
}  */


.products-box .col-4{
    /* flex-basis: 25%; */
    padding: 10px;
    min-width: 200px;
    /* background-color: white; */
    /* margin-bottom: 50px; */
}

.products-box .col-4 img{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#EmailV{
    text-align: center;
    background: -webkit-linear-gradient( #06c5ff,#10ffc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* for product */
.products {
  padding: 4rem 0;
}


.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(100%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product-section .row{
    margin-top: 30px;
    background-color: white;
}
/* end of product */
/* start on cart ----------------------------------------*/
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(81, 235, 240, 0.5);
  z-index: 2;
  /* visibility: hidden; */
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(255, 255, 255);
  padding: 1.5rem;
  transition: var(--mainTransition);
  /* transform: translateX(100%); */
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 20%;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
} 
/*---------- End of Cart Item -------------------- */

 .cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
} 

/*---------------- updata-product ----------------*/
.upload-product h3{
  background: -webkit-linear-gradient( #06c5ff,#10ffc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.upload-product{
  text-align: center;
}
/*---------- search-results-------*/
.results h3{
  background: -webkit-linear-gradient( #06c5ff,#10ffc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 30px 0px;
}
/* --------------add-product--------------- */
.add-product-box{
  text-align: center;
}
.add-product-box h3{
  background: -webkit-linear-gradient( #06c5ff,#10ffc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 30px 0px;
}